<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.carlos.capstone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Permissions required by the sync adapter -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-sdk tools:overrideLibrary="android.support.customtabs" />

    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"

        >


        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".SplashActivity"
            android:theme="@style/SplashTheme"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme1">

        </activity>
        <activity
            android:name=".DetailNewsActivity"
            android:label="Details news"
            android:launchMode="singleTop">

        </activity>
        <activity
            android:name=".DetailStockActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />


        </activity>
        <activity
            android:name=".DetailIndexActivity"
            android:label="Index Details"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

        </activity>
        <activity

            android:name=".SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/SettingsTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity">
            </meta-data>

        </activity>

        <!-- Adactivity for adMobs -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <!-- Content provider -->

        <provider
            android:name=".database.CapstoneProvider"
            android:authorities="@string/content_authority"
            android:exported="false"
            android:syncable="true" />

        <!-- SyncAdapter's dummy authentication service -->
        <service android:name=".sync.CapstoneAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- The SyncAdapter service -->
        <service
            android:name=".sync.CapstoneSyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
        <service
            android:name=".customtabs.KeepAliveService"
            android:exported="true" />
        <service
            android:name=".services.RegionChartAndIndexLoaderService"
            android:exported="false">

        </service>
        <service
            android:name=".services.DownloadSymbol"
            android:exported="false">

        </service>
        <service
            android:name=".services.StockStatsService"
            android:exported="false">
        </service>
        <service
            android:name=".services.StockSummaryService"
            android:exported="false">

        </service>
        <service
            android:name=".services.StockNewsService"
            android:exported="false">

        </service>

        <service
            android:name=".services.IndexSummaryService"
            android:exported="false">

        </service>
        <service
            android:name=".services.IndexComponentsService"
            android:exported="false">

        </service>
        <service
            android:name=".services.DownloadSymbolFromExcel"
            android:exported="false">

        </service>
        <service
            android:name=".services.DownloadSecurityFromTxt"
            android:exported="false">

        </service>
        <service android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false"/>
        <receiver android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>
        <!-- Optionally, register CampaignTrackingReceiver and CampaignTrackingService to enable
         installation campaign reporting -->
        <receiver android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />
        <!-- Widget provider -->
        <receiver android:name=".widget.StocksWidgetProvider"
            android:label="Stock Panel lite"

            >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.carlos.capstone.ACTION_DATA_UPDATED" />

            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_detail"/>
        </receiver>
        <!-- RemoteViewsService -->
        <service android:name=".widget.WidgetRemoteViewService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <service android:name=".services.UpdateWidgetService"  />
        <service android:name=".services.WidgetSwitchLauncherService" />
    </application>
    <!-- has to be placed here at the end, otherwise it fails!! -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>
